*{
    margin: 0;
    padding: 0;
}

body{
    margin:0px 50px;
    background-color: rgb(247,224,200);
    font-family: 'Josefin Slab', serif;
    font-weight: 600;
}


/* header */
#header{
    display: grid;
    margin-top: 50px;
    /* background-color: rgb(100, 109, 109); */
}

.hero{
    min-height: 450px;
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-areas: 
    'sampul sampul sampul barang1'
    'sampul sampul sampul barang2';
    border: 5px solid rgba(195,214,226,1);
    border-right: 0;
    gap: 4px ;
    border-left: 0;
}

.sampul{
    background-image:linear-gradient(to top,rgba(128, 0, 128, 0.616),rgba(255, 255, 255, 0.438)), url("image1.jpeg");
    /* height: 450px; */
    background-size: cover;
    background-position: center;
    grid-area: sampul;
    display: grid;
    align-content: flex-end;
    padding: 20px;
    box-sizing: border-box;
}


.barang1{
    background-image: linear-gradient(to top right,rgba(241, 6, 241, 0.616),rgba(255, 255, 255, 0.438)65%),url('image2.jpeg');
    grid-area: barang1;
    background-position: center;
    background-size: cover;
    display: grid;
    /* justify-content: center; */
    align-content: center;
    font-size:20px;
    text-align: center;
}

.barang2{
    background-image: linear-gradient(to top left,rgba(255, 6, 255, 0.616),rgba(255, 255, 255, 0.438)65%),url('image3.jpeg');
    grid-area: barang2;
    background-position: center;
    background-size: cover;
    display: grid;
    /* justify-content: center; */
    text-align: center;
    align-content: center;
    font-size: 20px;
}



.lay{
    background-color:rgba(249, 227, 168, 0.7);
    width: 100%;
    /* opacity: 0.6; */
    padding: 5px;
    box-sizing: border-box;
}

/* hero end */

/* navigasi */

nav{
    height: 35px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 20px;
    align-content: space-between;
    box-sizing: border-box;
    color: rgb(7, 7, 7);

}

nav p{
    font-style: italic;
    padding-left: 10px;
    font-size: 35px;
    color: rgb(65, 62, 65);
    font-family: 'Chewy', cursive;
    font-weight: 550;
}

nav ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 4px;
    justify-content: space-between;
    align-items:center ;
}

nav ul li{
    background-color: rgba(243, 168, 155, 1);
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
}

nav ul li a{
    text-decoration: none;
    
    color: rgb(20, 20, 20);
}

nav ul li a:hover{
    background-color: rgb(221, 8, 79);
    padding: 5px;
    box-sizing: border-box;
    color: wheat;
}

.menu{
    opacity: 0;
}

.close{
    opacity: 0;
}

/* navigasi end  */

/* bagian service  */
#servis{
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: rgb(243, 214, 184);
    padding: 50px 40px 150px;
}

.service p{
    font-size: 60px;
    text-align: center;
}

.service h3{
    text-align: center;
    box-sizing: border-box;
}

.service{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap: 8px;
    justify-content: center;
    /* transition: 1s; */
}
.service .produk{
    background-color: rgba(245, 187, 165, 0.8);
    padding: 40px;
    border: 3px solid rgb(255, 254, 254);
    box-shadow: 2px 4px 2px #808080;
    border-radius: 5px;
    position: relative;

}


.popup{
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to top,rgba(195, 214, 226, 1) 30%,rgba(255, 255, 255, 0.6));
    top: 0;
    left: 0;
    display: grid;
    align-content: center;
    padding: 15px;
    box-sizing: border-box;
    opacity: 0;
    transition: 1.3s;
    z-index: 10;
}

.popup p{
    font-size: 13px;
    text-align: center;
    font-weight: 700;
}

.popup:hover{
    opacity: 1;
    cursor: pointer;
}

.popup hr{
    margin: 15px 0;
}
.popup h3{
    font-size: 20px;
    font-weight: 800;
}

/* service end  */

/* bagian galeri  */
.gallery{
    margin-top: 100px;
    background-color: rgb(243, 214, 184);
    padding: 50px 0;
}
.galeri{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(24%,1fr));
    gap: 5px;
    padding: 20px;
}

.galeri {
    list-style: none;
}
img{
    display: block;
    width: 100%;
}

/* galeri end  */

/* produk */

#product{
    margin: 50px auto;
}
#product ul{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr) );
    list-style: none;
    gap: 15px;
    box-sizing: border-box;

}

.tempat{
    padding: 20px;
    box-sizing: border-box;
    border: 2px double rgb(155, 155, 155);
    background-color: rgb(177, 218, 236);
    border-radius: 25px ;
    overflow: hidden;
}

.tempat img{
    width: 50%;
    margin: 0 auto 10px;
    border-radius: 200px;
    border-right: 5px solid black ;
    box-sizing: border-box;
}

.tempat h3{
    text-align: center;
    margin-bottom: 20px;
}

.tempat p{
    background-color: rgb(135, 222, 181);
    text-align: center;
    border: 0.5px solid white;
    border-radius: 10px;
    padding: 10px;
    width: 50%;
    margin: 0 auto;
    box-sizing: border-box;
}


/* footer  */

footer{
    margin-top: 50px;
    padding: 50px 40px 0px;
    font-weight: 400;
}

.medsos{
    display: flex;
    justify-content: space-between;
    margin: 50px;
    line-height: 25px;
}

.label{
    display: grid;
    justify-content: center;
    align-content: flex-end;
    /* background-color: green; */
    text-align: center;
    font-style: italic;
    font-size: 25px;
}

#copy{
    text-align: center;
    margin: 50px;
    margin-bottom: 0;
    background-color: rgb(0, 0, 0);
    color: rgb(253, 253, 253);
    padding: 10px;
    font-size: 20px;
}

/* footer end  */

/* bagian judul per section  */

.subjudul{
    position: relative;
    z-index: 2;
    text-align: center;
    grid-area: service;
    font-size: 45px;
    margin-bottom: 50px;
    color: rgb(39, 25, 73);
    font-family: 'Chewy', cursive;
    /* margin-top: 50px; */
}

.subjudul::after{
    content: '';
    width: 35px;
    height: 70px;
    background:linear-gradient(to bottom,rgba(252, 1, 239, 0.795),rgb(255, 173, 244) ) ;
    position: absolute;
    border-radius: 7px;
    top: -20px;
    left: 50%;
    z-index: -1;
    transform: rotate(40deg);
}

.subjudul::before{
    content: '';
    width: 10px;
    height: 50px;
    position: absolute;
    background-color: rgb(241, 200, 124);
    top: 15px;
    left: 49.3%;
    z-index: -1;
    transform: rotate(40deg);
    border-radius: 5px;
}

@media screen and (max-width:1200px) {
    nav{
        order: -1;
        margin-bottom: 20px;
        /* background-color: teal; */
    }
}

@media screen and (max-width:576px) {
    body{
        margin-top: 0;
    }

    .hero{
        grid-template-areas: 
        'sampul sampul'
        'sampul sampul'
        'sampul sampul'
        'barang1 barang2' 
        'barang1 barang2';
        font-size: 16px;
        margin-top: 50px;
        
    }

    .barang1,.barang2,.sampul{
        font-size: 13px;
        font-weight: 500;
    }

    .menu{
        display: block;
        opacity: 1;
        width: 30px;
        height: 30px;
        background-image: url("menu.png");
        background-size: cover;
        justify-self: end;
        cursor: pointer;
        /* background-color: tomato; */
        z-index:1000;
        position: fixed;
        right: 10px;
    }

    nav{
        background-color: rgb(248, 178, 166);
        grid-template-columns: 1fr;
        justify-content:space-between;
        padding:5px 20px;
        margin-top: 0px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        box-sizing: unset;
    }


    nav ul{
        grid-template-columns:1fr;
        position: fixed;
        top: 0px;
        right: 0px;
        width: 75%;
        height: 100vh;
        justify-content: center;
        align-content: stretch;
        gap: 0;
        background-color: rgba(243, 168, 155, 0.908);
        opacity: 0;
    }
    nav p{
        font-size: 22px;
        text-align: center;
    }

    nav ul li{
        background:none;
    }


    footer{
        padding: 0;
        padding-top: 50px;
    }

    .medsos{
        flex-wrap: wrap;
    }

    .sosialmedia{
        text-align: end;
        margin-top: 20px;
    }

    #copy{
        width: 100%;
        margin:20px 0;
        box-sizing: border-box;
    }

    .close{
        position: fixed;
        width: 30px;
        height: 30px;
        padding: 0;
        right: 20px;
        top: 2px;
        font-size: 500px;
        opacity: 0;
        z-index: 11;
    }

    .close p{
        font-size: 30px;
        color: rgb(22, 21, 21);
    }
    .aktif{
        opacity: 1;
        z-index: 11;
    }
    
    .hilang{
        opacity: 0;
    } 

    .galeri{
        grid-template-columns: 1fr 1fr;
    }
    
}